@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Mansalva&family=Numans&family=Oregano&family=Raleway&family=Skranji&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
nav a {
    text-align: center;
    color: #EFF6E0;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h4, #hero-msg h1 {
    text-align: center;
}
h4 {
    color: #598392;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #598392;
}
body {
    font-family: 'Numans', 'Helvetica', 'sans-serif';
    font-size: 22px;
    background-color: #EFF6E0;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    background-color: #124559;
}
nav a:hover {
    background-color: #AEC3B0;
    color: #598392;
}
.home-title {
    font-family: 'Finger Paint';
    font-size: 2em;
    color: #124559;
    margin-top: 10px;
}
.book, .join {
    background-color: #AEC3B0;
    color: #124559;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #598392;
    color: #AEC3B0;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
main section img {
    box-sizing: border-box;
}
.card-img {
    border: 10px solid #598392;
}
#logo_link {
    padding-top: 5px;
}
.msg {
    background-color: #598392;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    font-family: 'Finger Paint';
    color: #EFF6E0;
}
.msg p {
    color: #AEC3B0;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color: #124559;
    padding: 25px 50px;
    margin-top: 200px;
}
footer h3 {
    color: #AEC3B0;
}
footer .social img {
    padding-top: 15px;
}
footer a {
    color: #EFF6E0;
    text-decoration: none;
}
footer a:hover {
    color: #AEC3B0;
    text-decoration: underline;
}