@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Albert+Sans:wght@100;300&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 100px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    margin: auto;
    color: white;
    text-decoration: none;
    padding: 45px;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #171614;
}
nav a:hover {
    background-color: #9A8873;
    color: #472C1b;
}
#horse-img {
    width: 100%;
}
h1 {
    font-family: "Aboreto";
    text-align: center;
    padding: 25px;
}
p {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 45px;
    color: #472C1b;
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #598392;
    grid-column: 1/11;
    grid-row: 4/9;
}

body {
    font-family: "Albert Sans", Helvetica, sans-serif;
    font-size: 22px;
    background-color: white;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: auto;
    padding-bottom: 80px;
}

.jumping, .crosscountry, .dressage {
    margin: 200px 30px;
}

main section img {
    box-sizing: border-box;
}

.card-img {
    border: 10px solid #9A8873;
    transition: transform .5s;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-img {
    width: 85%;
}

.pre-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: auto;
    background-color: #9A8873;
    padding: 40px;
}
iframe {
    text-align: center;
}

footer {
    background-color: #171614;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color: white;
}
footer .social img {
    padding-top: 15px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: #9A8873;
    text-decoration: underline;
}

/* Page 2 */

#staff-div {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 200px, 250px;
    grid-template-rows: 200px, 400px, 400px;
}

#brynn-photo {
    grid-column: 1 / 2;
    justify-items: center;
    align-items: center;
}

#brynn-p {
    grid-column: 2 / 3;
}

#brynn-img, #pablo-img, #lauren-img {
    width: 100%;
}
#pablo-p {
    grid-row: 2 / 3;
}
#pablo-img {
    grid-column: 2 / 3;
}